{% load i18n %}
{% load tabular_permissions_tags %}

<table id="tabular_permissions" class="table table-condensed table-hover" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th> {% trans 'application' %}</th>
        <th>{% trans 'model' %}</th>
        {#        <th>{% trans 'can browse' %}#}
        {#            <label>#}
        {#                <input type="checkbox" class="checkbox"#}
        {#                       id="id_baseinfo_browse_selectall">#}
        {#                {% trans 'all' %}#}
        {#            </label>#}
        {#        </th>#}
        <th>
            <label>
                {% trans 'can add' %}
                <input type="checkbox" class="checkbox"
                       id="perm_add_selectall">
                {#                {% trans 'all' %}#}
            </label>
        </th>
        <th>
            <label>
                {% trans 'can change' %}
                <input type="checkbox" class="checkbox"
                       id="perm_change_selectall">
                {% trans 'all' %}
            </label>
        </th>
        <th>
            <label>
                {% trans 'can delete' %}
                <input type="checkbox" class="checkbox"
                       id="perm_delete_selectall">
                {% trans 'all' %}
            </label>
        </th>
    </tr>
    </thead>
    <tbody>
    {% for app in apps_available %}
        <tr>
            <td colspan="5"></td>
        </tr>

        {% for model in app.models %}

            <tr>
                {% if forloop.counter0 == 0 %}
                    <td rowspan="{{ app.models|length }}" class="app-name">{{ app.verbose_name }}</td>
                {% endif %}
                <td>
                    {{ model.verbose_name }}
                </td>
                <td class="add">
                    <div class="input">
                        <label>
                            {% get_permission_full_name model 'add' %}
                            <input type="checkbox" class="checkbox"
                                    {#                                   name="{{ current_perm }}"#}
                                   id="id_{{ current_perm }}" data-perm-id="{{ codename_id_map|keyvalue:current_perm }}"
                                    {% if current_perm in user_permissions %}
                                   checked="checked"
                                    {% endif %}>
                        </label>
                    </div>
                </td>
                <td class="change">
                    <div class="checkbox ">
                        <label>
                            {% get_permission_full_name model 'change' %}
                            <input type="checkbox" class="checkbox"
                                    {#                                   name="{{ current_perm }}"#}
                                   id="id_{{ current_perm }}" data-perm-id="{{ codename_id_map|keyvalue:current_perm }}"
                                    {% if current_perm in user_permissions %}
                                   checked="checked"
                                    {% endif %}>
                        </label>
                    </div>
                </td>
                <td class="delete">
                    <div class="checkbox ">
                        <label>
                            {% get_permission_full_name model 'delete' %}
                            <input type="checkbox" class="checkbox"
                                    {#                                   name="{{ current_perm }}"#}
                                   id="id_{{ current_perm }}" data-perm-id="{{ codename_id_map|keyvalue:current_perm }}"
                                    {% if current_perm in user_permissions %}
                                   checked="checked"
                                    {% endif %}>
                        </label>
                    </div>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="5" style="border-bottom: 1px solid black;"></td>
        </tr>


    {% endfor %}
    </tbody>
</table>
<hr/>
<style>
    .app-name {
        border-left: 1px black solid;
    }

    .maximize-me {
        width: 90%;
    }
</style>
<script>
    django.jQuery(document).ready(function () {
        $(".related-widget-wrapper:has(table)").addClass('maximize-me');
        $('#perm_add_selectall').on('change', function () {
            var state = $(this).prop('checked');
            $('#tabular_permissions').find('tr td.add').find('input').each(function (i, e) {
                $(e).prop('checked', state)
            })
        });
        $('#perm_change_selectall').on('change', function () {
            var state = $(this).prop('checked');
            $('#tabular_permissions').find('tr td.change').find('input').each(function (i, e) {
                $(e).prop('checked', state)
            })
        });
        $('#perm_delete_selectall').on('change', function () {
            var state = $(this).prop('checked');
            $('#tabular_permissions').find('tr td.delete').find('input').each(function (i, e) {
                $(e).prop('checked', state)
            })
        });
        $('form').on('submit', function (e) {
            var user_perms = [];
            $('#tabular_permissions').find('input[type=checkbox]').each(function (i, elem) {
                var $elem = $(elem);
                if ($(elem).prop('checked')) {
                    user_perms.push($elem.attr('data-perm-id'))
                }
            });
            $('[name=user_permissions]').val(user_perms);
            // get all checked permissions

        })
    });
</script>