language: python
python:
  - "3.7"
  - "3.8"
  - "3.9"
  - "3.10"
  - "3.11"

env:
  - DJANGO=django==3.2
  - DJANGO=django==4.0
  - DJANGO=django==4.1
  - DJANGO=django==4.2

before_install:
  - wget https://github.com/mozilla/geckodriver/releases/download/v0.17.0/geckodriver-v0.17.0-linux64.tar.gz
  - mkdir geckodriver
  - tar -xzf geckodriver-v0.17.0-linux64.tar.gz -C geckodriver
  - export PATH=$PATH:$PWD/geckodriver

# command to install dependencies
install:
    - pip install -r tests/requirements.txt
    - pip install $DJANGO
    - pip install coveralls
script:
    - cd tests/
    - python runtests.py
